:root {
  --box-stroke: 2px solid #000;
  --animation-duration: 0.3s;

  --font-family-base: 'Inter', Arial, sans-serif;
  --font-family-deco: 'PressStart2P', 'Courier New', monospace;

  --font-size-large: 18px;
  --font-size-medium: 14px;

  --font-weight-bold: 785;
  --font-weight-normal: 400;
  --font-weight-bold-variation: "wght" var(--font-weight-bold);
  --font-weight-normal-variation: "wght" var(--font-weight-normal);

  /* label stroke rengi değişken olsun (checklist) */
  --label-stroke-color: #fff;
}
